// ===================
// App Cmp TagsChooser
// ===================

// global:

.tagschooser_cmp {
    display: inline-block;

    .tag_el {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 4px;
        border-radius: 3px;
        display: inline-block;
        box-shadow: 2px 2px 5px #ccc;
        cursor: pointer;
        transition: all .5s;

        &.selected {
            border-color: #666;
            background-color: #333;
            box-shadow: 2px 2px 5px #666;
            color: #fff;
        }
    }

    .selected_tags_ctn,
    .available_tags_ctn {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 5px;
    }
}
