// ==================
// App Infos View
// ==================

.ds_infos_view {
    display: none;
    height: 100%;
    width: 100%;

    .diapo_shuffle_view_mode & {
        display: block;
    }

    .picture_counter_ctn,
    .picture_path_ctn,
    .tags_ctn {
        position: absolute;
        z-index: 1000;
        color: #333;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
        border-radius: 5px;
    }

    .picture_path_ctn {
        bottom: 5px;
        right: 5px;
        word-break: break-all;
    }

    .picture_counter_ctn {
        top: 5px;
        left: 5px;
    }

    .custom_folder_path {
        font-size: 1em;
        margin-right: 4px;
    }

    .random_public_path {
        font-size: 1.5em;
        font-weight: bold;
    }

    .tags_ctn {
        top: 80px;
        left: 5px;
        transition: transform 750ms ease;
        border: 2px solid #333;
        max-height: calc(100vh - 160px);
        overflow: auto;
        cursor: pointer;

        &.no_tags {
            border-color: red;
        }

        .tag {
            border-left: 3px solid #333;
            padding: 5px;
            margin: 8px 4px;
        }
    }
} // .ds_infos_view
