// ==================
// App Infos View
// ==================

.ds_infos_view {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1000;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    @include border-radius(5px);

    .diapo_shuffle_view_mode & {
        display: block;
    }

    .custom_folder_path {
        font-size: small;
        margin-right: 4px;
    }

    .random_public_path {
        font-weight: bold;
    }
} // .ds_infos_view
