// ==================
// App Options View
// ==================

.ds_options_view {
    border-radius: 10px;
    box-shadow: 0 0 6px 3px #444;
    width: 70%;
    margin: 0 auto;
    padding: 60px 20px 40px;
    position: relative;

    &.flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .title_view {
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px;
    }

    .btn,
    .input_spinner {
        outline: none;
    }


    .footer_ctn {
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 100%;
    }

    .el_ctn {
        margin: 8px;
        line-height: 1em;
    }

    .input_custom_folder {
        width: 100px;
        @include border-radius(4px);
    }

    .input_interval,
    .input_zoom {
        width: 20px;
    }

    .title {
        margin-right: 4px;
        @include inline-block();
    }
} // End .ds_options_view
