// ==================
// App Options View
// ==================

.ds_options_view {
    border-radius: 10px;
    box-shadow: 0 0 6px 3px #444;
    width: 70%;
    margin: 0 auto;
    padding: 60px 20px 20px;
    position: relative;

    &.flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .title_view {
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px;
    }

    .btn,
    .input_spinner {
        outline: none;
    }


    .footer_ctn {
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .el_ctn {
        margin: 8px;
        line-height: 1em;
        width: 100%;
    }

    .title_custom_folder {
        width: 4em;
    }

    .input_custom_folder {
        min-width: 100px;
        max-width: 500px;
        width: 100%;
        border-radius: 4px;
    }

    .clear_custom_folder {
        margin-left: 5px;
        padding: 0 8px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    .input_interval,
    .input_zoom {
        width: 20px;
    }

    .title {
        margin-right: 4px;
        @include inline-block();
    }

    .start_btn {
        width: 80%;
        font-size: 1.5em;
    }
} // End .ds_options_view
