// ==================
// App Options View
// ==================

.ds_play_view {
    display: none;
    cursor: text;

    .play_ctn,
    .cmd_ctn {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .play_ctn {
        display: none;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 500;
        background-color: #1d1d1d;

        .diapo_shuffle_view_mode &  {
            display: flex;
        }

        .random_pic {
            margin: auto;
        }
    }

    .cmd_ctn {
        width: 100%;
        height: 50px;
        line-height: 50px;
        z-index: 600;
        background-color: rgba(50, 50, 50, 0.6);
        border-bottom: 1px solid #888;
        opacity: 0;
        color: #eaeaea;
        text-align: center;
        transition: opacity 0.3s;
        cursor: auto;
        white-space: nowrap;
        @include user-select(none);

        &:hover {
            opacity: 1;
        }

        .btn {
            outline: none;
            margin-right: 10px;
        }

        .stop_btn {
            margin-left: auto;
        }
        .pause_btn {
            margin-right: auto;
        }

        .delete_btn {
            margin-left: 20px;
        }

        .delete_btn,
        .previous_btn,
        .next_btn,
        .inside_btn {
            display: none;
        }

        .delete_btn,
        .next_btn {
            margin-right: 10%;
        }
    }

    .ctn_loading {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 550;
        text-align: center;
        width: 38px;
        height: 20px;

        .el_loading {
            width: 4px;
            height: 4px;
            margin: 10px auto;
            background: #aaa;
            border: 1px solid #555;
            animation: ds_loading_anim 1.3s infinite alternate;
            @include inline-block();
            border-radius: 20px;
        }

        .el_loading_1 {
            animation-delay: 0s;
        }

        .el_loading_2 {
            animation-delay: 0.39s;
        }

        .el_loading_3 {
            animation-delay: 0.78s;
        }
    } // End .ctn_loading

    .ctn_icon_pause {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 550;
        text-align: center;
        width: 18px;
        height: 16px;

        .el_icon_pause {
            width: 4px;
            height: 14px;
            margin: auto 1px;
            background-color: rgba(240, 240, 240, 0.8);
            border: 1px solid #555;
            @include inline-block();
        }
    } // End .ctn_icon_pause

    .ctn_icon_action {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 550;
        width: 14px;
        height: 14px;
        opacity: 0;
        background-color: transparent;
        border: 4px solid #aaa;
        border-radius: 12px;

        &.anim {
            animation: ds_action_anim 0.8s;
        }
    } // End .ctn_icon_action
}
