// =====================
// App Modals Tags Modal
// =====================


.tags_modal_overlay.ui-widget-overlay {
    opacity: 0;
}

.tags_modal {
    background: rgba(255, 255, 255, 0.92);
    z-index: 2000;
    max-height: 100%;

    .ui-dialog-titlebar {
        display: none;
    }

    .ui-dialog-content {
        height: 100%;
        padding: 10px;
        padding-bottom: 50px;
    }

    .ui-dialog-buttonpane {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        bottom: 0;

        &.ui-widget-content {
            background: rgba(255, 255, 255, 0.9);
        }

        .ui-button {
            margin-right: 20px;
        }
    }

    .ui-widget-content {
        background: none;
    }
}